@import "src/styles/params.module";

.search {
  margin-bottom: 1em;
  &Input {
    width: 100%;
    font-size: 20px;
    padding: .7em 1em;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: $secondary;
  }
}
.products {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 70px;
}
.loading {
  margin-bottom: 10px;
  height: 10px;
}

.footer {
  position: fixed;
  bottom: 1px;
  left: 0;
  width: 100%;
  background-color: $secondary;
  z-index: 10;
  box-sizing: border-box;
  padding: .7em .4em;
  font-size: 12px;
}

.next {
  width: 100%;
  box-sizing: border-box;
  margin-top: 1em;
  padding-bottom: .6em;
  font-weight: 700;
}
