$primary: #7ab37c;
$secondary: #f7f4d1;
$bg: #062223;
$textPrimary: #f8f2f2;
$textSecondary: #1a1919;


//mixins media
@mixin _380 { @media (max-width: 380px) { @content; } }
@mixin _576 { @media (max-width: 575px) { @content; } }
@mixin _768 { @media (max-width: 767px) { @content; } }
@mixin _992 { @media (max-width: 991px) { @content; } }
@mixin _1200 { @media (max-width: 1199px) { @content; } }
@mixin _1400 { @media (max-width: 1400px) { @content; } }

:export {
  primary: $primary;
  secondary: $secondary;
  bg: $bg;
}
