@import "src/styles/params.module";

.wrapper {
  display: block;
  width: 100%;
  text-align: left;
  background-color: $primary;
  overflow: hidden;
  border-radius: 12px;
  box-sizing: border-box;
  padding: .7em 1.4em;
  box-shadow: 0px 0px 20px -10px rgba(155,194,142,1);
  border: 2px solid $primary;
  position: relative;
  &Chosen {
    border: 2px solid darken($primary, 20%);
    opacity: .6;
    &Icon {
      position: absolute;
      top: 0;
      right: 4px;
      font-size: 22px;
    }
  }
  &:active {
    outline: none;
    background-color: $primary;
    box-shadow: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  color: $textSecondary;
}

.description {
  color: $textSecondary;
  font-size: 14px;
  opacity: .6;
  font-style: italic;
}
