@import "src/styles/params.module";

.title {
  color: $textPrimary;
  text-align: center;
  font-size: 22px;
  margin-bottom: 1em;
  padding-top: .6em;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 80px;
  &Item {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: $primary;
    padding: 1em .6em;
    border-radius: 12px;
  }
  &Remove {
    width: 10%;
    color: #b43e3e;
    padding-left: 0;
  }

  &Data {
    width: 65%;
    box-sizing: border-box;
  }

  &Title {
    font-size: 20px;
    color: $textSecondary;
    margin-bottom: .4em;
  }
  &Description {
    color: $textSecondary;
    font-size: 14px;
    opacity: .6;
    font-style: italic;
  }
  &Input {
    width: 25%;
    box-sizing: border-box;
    &Wrapper {
      position: relative;
      width: 100%;
    }
    input {
      width: 100%;
      height: 40px;
      padding: .8em .8em .8em .4em;
      box-sizing: border-box;
      border-radius: 12px;
      border: none;
      background-color: $secondary;
      &:focus {
        outline: none;
        background-color: $textPrimary;
      }
    }

    &Steps {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 6px;
      button {
        background-color: $secondary;
        border-radius: 12px;
        width: 45%;
        height: 30px;
      }
    }
  }
  &Measure {
    position: absolute;
    right: 6px;
    bottom: 4px;
    z-index: 5;
    font-size: 12px;

  }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  position: fixed;
  background-color: $primary;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  &Save, &Back {
    width: 48%;
    box-sizing: border-box;
    height: 50px;
    border-radius: 12px;
  }
  &Save {
    background-color: $secondary;
  }
  &Back {
    color: $secondary;
  }
}
